body {
    color: white;
    background: black;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px; 

header {
    border-bottom: solid 2px rgb(245, 246, 247);
    padding: 20px;
    font-size: 32px;
    color: rgb(232, 235, 238);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.chamada {
    background: rgb(175, 2, 2);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center; 

.chamada-texto {
    margin-right: 5%;
    text-align: center; 
}

h1 {
    font-size: 40px;
    margin: 0;
}

p {
    font-size: 20px;
    margin: 0;
}

.categoria-videos {
    display: grid; /* Usando grid para organizar os vídeos em linhas e colunas */
    grid-template-columns: repeat(2, 1fr); /* Duas colunas de tamanho igual */
    gap: 20px; /* Espaço entre os vídeos */
    padding: 20px 0;
}

.categoria-videos img {
    opacity: 0.7;
    width: 100%; /* Garantindo que a imagem ocupe toda a largura da célula da grid */
    height: auto; /* A altura será ajustada automaticamente */
    object-fit: cover; 
    border-radius: 8px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.categoria-videos img:hover {
    opacity: 1;
    border: 3px solid green;
    transform: scale(1.05);
}

.categoria h2 {
    color: rgb(42, 122, 228);
}

footer {
    color: white;
    background: black;
    padding: 20px;
    text-align: center; 
    font-family: "Chakra Petch", sans-serif;
    margin-top: 100px; 
